.h1{
    color: rgb(78, 78, 178);
    text-align: center;

}

body{
    background-color: antiquewhite;
}


.a1{
    width: 100%;
    position: absolute; left: 10px; top: 20px;
    font-size: x-large;
    color: cornflowerblue;
    padding-top: 10px;
    columns: 100px 3;

}

.row{
    content: "";
    display: table;
    clear: both;
    
}

.note{
     text-align: left;
    margin-right: 10px;
    font-size: large;
}

section{
    grid-template-columns: 1/5;

}

.about{
    text-align: right;
    word-spacing: 10px;
    color: darkblue;
}

.button{
    background-color: gray;
    position: absolute; left: 140px;
    border-radius: 5px;
}

.button1{
    background-color: aquamarine;
   /* position: absolute; left: 1440px; */
   position: absolute; left: 510px;
   border-radius: 5px;
     text-decoration: none;

   
}

.hold{
    width: 460px;
    height: 150px;
    border-radius: 5px;
    border: 2px solid rgb(14, 95, 181);
    background-color:beige;
    margin-left: 130px;
    margin-top: 50px;
    

    

}

.b2{
    position: absolute; left: 501px;
background-color: green;
border-radius: 10px;
margin-top: 10px;
}

.b3{
    position: absolute; left: 550px;
background-color: red;
border-radius: 10px;
margin-top: 10px;
}

.foot{
    margin-top: 50px;
    text-align: center;
}



/* @media only screen and (max-width: 768px){
body{

}
} */


.img1{
    width: 50px;
    height: auto;
    padding-left: 100px;
    margin-left: 190px;
    margin-top: 10px;
}

.img2{
    width: 50px;
    height: auto;
}


